@model WebTuyenDung.Requests.CreateOrUpdateRecruimentNewsRequest

@{
    ViewBag.Title = "Đăng tin tuyển dụng mới";
    ViewBag.PrevPage = "Tin tuyển dụng";
    ViewBag.CurrentPage = "Đăng tin mới";
}

@section css_Main {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
    <script src="~/Assets/Plugins/ckeditor/ckeditor.js"></script>
    <script src="~/Assets/Shared/locale-select.js"></script>
    <script src="~/Assets/Employer/js/create-recruiment-news.js"></script>

    <script>
        CKEDITOR.replace("txtMoTa");
        CKEDITOR.replace("txtYeuCau");
        CKEDITOR.replace("txtKyNang");
        CKEDITOR.replace("txtQuyenLoi");

        $(document).ready(() => {
            $('.date').datepicker({
                format: 'dd/mm/yyyy',
                clearBtn: true,
                startDate: moment().add(1, 'days').format('dd/MM/yyyy')
            })
        })
    </script>
}

<style>
    input[type=text]:disabled {
        background: #f1f5f7;
        color: #999
    }
</style>

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <div class="card-header py-2">
                    <h4 class="header-title mb-0">Đăng tin tuyển dụng</h4>
                </div>
                <div class="collapse pt-3 show">
                    <form action="/employer/recruiment-news/create" method="post" id="create-recruiment-news-form">
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            <div class="form-group align-items-center row">
                                <label class="control-label col-md-2" for="jobName">
                                    Tên công việc
                                </label>
                                <div class="col-md-4">
                                    <input class="form-control" cols="20" id="jobName"
                                           name="jobName" rows="2" />
                                    @if (ViewContext.ModelState.ContainsKey("JobName"))
                                    {
                                        <span class="text-danger">Tên công việc không được để trống</span>
                                    }
                                </div>

                                <label class="control-label col-md-2" for="jobType">
                                    Hình thức làm việc
                                </label>
                                <div class="col-md-4">
                                    <select class="form-control text-box single-line selectpicker"
                                            data-live-search="true" data-val="true" id="jobType"
                                            name="jobType">
                                        <option value="">
                                            -- Chọn hình thức làm việc --
                                        </option>
                                        <option value="0">Parttime - Bán thời gian</option>
                                        <option value="1">Fulltime - Toàn thời gian</option>
                                        <option value="2">
                                            Remote - Làm việc từ xa
                                        </option>
                                    </select>
                                    @if (ViewContext.ModelState.ContainsKey("JobType"))
                                    {
                                        <span class="text-danger">Chưa chọn loại công việc</span>
                                    }
                                </div>
                            </div>

                            <div class="form-group align-items-center row">
                                <label class="control-label col-md-2" for="position">Vị trí</label>
                                <div class="col-md-4">
                                    <select class="form-control text-box single-line selectpicker"
                                            data-live-search="true" data-val="true" id="position"
                                            name="position">
                                        <option value="">-- Chọn vị trí cần tuyển --</option>
                                        <option value="0">
                                            Business Analyst
                                        </option>
                                        <option value="1">Kỹ sư cầu nối</option>
                                        <option value="2">
                                            Lập trình viên
                                        </option>
                                        <option value="3">
                                            Tester
                                        </option>
                                        <option value="4">
                                            Quality Control
                                        </option>
                                        <option value="5">
                                            Quality Assurance
                                        </option>
                                        <option value="6">
                                            Quản lý dự án phần mềm
                                        </option>
                                        <option value="7">
                                            IT Support
                                        </option>
                                        <option value="8">
                                            Designer
                                        </option>
                                    </select>
                                    @if (ViewContext.ModelState.ContainsKey("Position"))
                                    {
                                        <span class="text-danger">Chưa chọn vị trí tuyển dụng</span>
                                    }
                                </div>
                                <label class="control-label col-md-2" for="positionDetail">
                                    Chi tiết vị trí
                                </label>
                                <div class="col-md-4">
                                    <select class="form-control text-box single-line selectpicker"
                                            data-live-search="true" data-val="true" id="positionDetail"
                                            name="positionDetail">
                                        <option value="">-- Chọn chi tiết vị trí --</option>
                                        <option value="back-end">Backend</option>
                                        <option value="C/C++">C/C++</option>
                                        <option value="C-Sharp">C-Sharp</option>
                                        <option value="front-end">Frontend</option>
                                        <option value="full-stack">Fullstack</option>
                                        <option value="Golang">GoLang</option>
                                        <option value="iOS">iOS</option>
                                        <option value="Android">Android</option>
                                        <option value="Java">Java</option>
                                        <option value="JavaScript">JavaScript</option>
                                        <option value="mobile-apps">Mobile Apps</option>
                                        <option value="dotnet">.NET</option>
                                        <option value="PHP">PHP</option>
                                        <option value="Python">Python</option>
                                        <option value="React">ReactJS</option>
                                        <option value="AngularJS">AngularJS</option>
                                        <option value="Angular">Angular</option>
                                        <option value="Vue">Vue</option>
                                        <option value="Ruby">Ruby</option>
                                    </select>
                                </div>
                            </div>

                            <!-- Gioi tinh -->
                            <div class="form-group align-items-center row">
                                <label class="control-label col-md-2" for="gender">
                                    Giới tính
                                </label>
                                <div class="col-md-4">
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input"
                                                   name="gender" checked>không yêu cầu
                                        </label>
                                    </div>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input"
                                                   name="gender"
                                                   aria-label="Radio button for following text input" value="0">Nam
                                        </label>
                                    </div>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input"
                                                   name="gender" value="1">Nữ
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group align-items-center row">
                                <!-- Muc luong -->
                                <label class="control-label col-md-2" for="salary">
                                    Mức lương
                                </label>
                                <div class="col-md-10">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="form-check-inline">
                                                <label class="form-check-label">
                                                    <input type="radio" class="form-check-input"
                                                           name="salary" value="Dưới 3 triệu">Dưới 3 triệu
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-check-inline">
                                                <label class="form-check-label">
                                                    <input type="radio" class="form-check-input"
                                                           name="salary" value="3 - 5 triệu">3-5 triệu
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-check-inline">
                                                <label class="form-check-label">
                                                    <input type="radio" class="form-check-input"
                                                           name="salary" value="5 - 7 triệu">5 - 7 triệu
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-check-inline">
                                                <label class="form-check-label">
                                                    <input type="radio" class="form-check-input"
                                                           name="salary" value="7 - 10 triệu">7 - 10 triệu
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-check-inline">
                                                <label class="form-check-label">
                                                    <input type="radio" class="form-check-input"
                                                           name="salary" value="Trên 10 triệu" />Trên 10 triệu
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group align-items-center row">
                                <!-- Muc luong -->
                                <label class="control-label col-md-2" for="salary"></label>
                                <div class="col-md-10">
                                    <div class="row">
                                        <div class="col-md-2 my-auto">
                                            <div class="form-check-inline">
                                                <label class=" form-check-label">
                                                    <input type="radio" class="form-check-input"
                                                           name="salary" value="Thỏa thuận" />Thoả thuận
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="row">
                                                <div class="form-check-inline">
                                                    <div class="col-md-2 my-auto">
                                                        <label class="form-check-label">
                                                            <input type="radio"
                                                                   class="form-check-input"
                                                                   name="salary" value="Khác" />Khác
                                                        </label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <input type="text" class="form-control"
                                                               placeholder="Từ" disabled id="salary-from" name="minimumSalary" />
                                                    </div>
                                                    <div class="col-md-8">
                                                        <input type="text" class="form-control"
                                                               placeholder="Đến" disabled id="salary-to" name="maximumSalary" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="salary-error" style="display: none">
                                <div class="col-md-2"></div>
                                <span class="text-danger">Chưa chọn mức lương</span>
                            </div>
                        </div>

                        <div class="form-group align-items-center row">
                            <label class="control-label col-md-2" for="workingAddress">
                                Địa chỉ làm việc
                            </label>
                            <div class="col-md-4">
                                <input class="form-control" cols="20" id="workingAddress"
                                       name="workingAddress" rows="2" />
                                @if (ViewContext.ModelState.ContainsKey("WorkingAddress")
                                    || ViewContext.ModelState.ContainsKey("CityId")
                                    || ViewContext.ModelState.ContainsKey("WardId")
                                    || ViewContext.ModelState.ContainsKey("WardId"))
                                {
                                    <span class="text-danger">Địa chỉ làm việc không được để trống</span>
                                }
                            </div>
                            <div class="col-md-2">
                                <select class="form-control text-box single-line selectpicker"
                                        data-live-search="true" data-val="true" id="input-city"
                                        name="cityId">
                                </select>
                            </div>
                            <div class="col-md-2">
                                <select class="form-control text-box single-line selectpicker"
                                        data-live-search="true" data-val="true" id="input-district"
                                        disabled
                                        name="districtId">
                                </select>
                            </div>
                            <div class="col-md-2">
                                <select class="form-control text-box single-line selectpicker"
                                        data-live-search="true" data-val="true" id="input-ward"
                                        disabled
                                        name="wardId">
                                </select>
                            </div>
                        </div>

                        <div class="form-group align-items-center row">
                            <label class="control-label col-md-2" for="jobDescription">
                                Mô tả công việc
                            </label>
                            <div class="col-md-10">
                                <textarea class="form-control" cols="20" data-val="true" id="txtMoTa"
                                          name="jobDescription" rows="2"></textarea>
                                @if (ViewContext.ModelState.ContainsKey("JobDescription"))
                                {
                                    <span class="text-danger">Mô tả công việc không được để trống</span>
                                }
                            </div>
                        </div>

                        <div class="form-group align-items-center row">
                            <label class="control-label col-md-2" for="jobRequirements">
                                Yêu cầu ứng viên
                            </label>
                            <div class="col-md-10">
                                <textarea class="form-control" cols="20" data-val="true" id="txtYeuCau"
                                          name="jobRequirements" rows="2"></textarea>
                                @if (ViewContext.ModelState.ContainsKey("JobRequirements"))
                                {
                                    <span class="text-danger">Yêu cầu ứng viên không được để trống</span>
                                }
                            </div>
                        </div>

                        <div class="form-group align-items-center row">
                            <label class="control-label col-md-2" for="relativeSkills">
                                Kỹ năng liên quan
                            </label>
                            <div class="col-md-10">
                                <textarea class="form-control" cols="20" id="txtKyNang"
                                          name="relativeSkills" rows="2"></textarea>
                                @if (ViewContext.ModelState.ContainsKey("RelativeSkills"))
                                {
                                    <span class="text-danger">Kỹ năng liên quan không được để trống</span>
                                }
                            </div>
                        </div>

                        <div class="form-group align-items-center row">
                            <label class="control-label col-md-2" for="benefit">
                                Quyền lợi
                            </label>
                            <div class="col-md-10">
                                <textarea class="form-control" cols="20" id="txtQuyenLoi"
                                          name="benefit" rows="2"></textarea>
                                @if (ViewContext.ModelState.ContainsKey("Benefit"))
                                {
                                    <span class="text-danger">Quyền lợi không được để trống</span>
                                }
                            </div>
                        </div>

                        <div class="form-group align-items-center row">
                            <label class="control-label col-md-2" for="numberOfCandidates">
                                Số lượng tuyển
                            </label>
                            <div class="col-md-6">
                                <input class="form-control" data-val="true"
                                       id="numberOfCandidates" name="numberOfCandidates" type="number" value="1" min="1" max="100" />
                                <span class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group align-items-center row">
                            <label class="control-label col-md-2" for="deadline">Hạn nộp</label>
                            <div class="col-md-6">
                                <input class="form-control date" type="text" id="deadline" name="deadline" />
                                <span class="text-danger" style="display: none"></span>
                            </div>
                        </div>

                        <div class="form-group align-items-center row mt-3">
                            <div class="col-md-2">
                                <a class="btn btn-light" href="/employer/recruiment-news">
                                    Trở về
                                </a>
                            </div>

                            <div class="col-md-6">
                                <input type="submit" value="Tạo mới" class="btn btn-primary" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>