@{
    Layout = "_AuthenticationLayout";
    var returnUrl = Context.Request.Query["ReturnUrl"].FirstOrDefault();
}

@section js_scripts {
    <script src="~/Assets/Shared/sign-in-screen.js"></script>
}

<div class="card-header">
    <h3 class="text-center font-weight-light my-4">Đăng nhập</h3>
</div>
<div class="card-body">
    <form id="sign-in__form">
        <p id="sign-in-error" class="error text-danger"></p>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" autocomplete="false" name="username" id="username" />
            <label for="username" class="control-label">Tên đăng nhập</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" autocomplete="false" name="password" id="password" />
            <label for="password" class="control-label">Mật khẩu</label>
        </div>
        <div class="d-flex justify-content-between mt-4 mb-0">
            @if (returnUrl != null && returnUrl.StartsWith("/employer", StringComparison.InvariantCultureIgnoreCase))
            {
                <a class="btn btn-primary" href="/authentication/sign-up-employer">Đăng ký</a>
            }
            else if (returnUrl == null || !returnUrl.StartsWith("/admin", StringComparison.InvariantCultureIgnoreCase))
            {
                <a class="btn btn-primary" href="/authentication/sign-up">Đăng ký</a>
            }
            <div class="d-flex align-items-center">
                <a class="small me-3" href="#">Quên mật khẩu?</a>
                <button class="btn btn-primary">Đăng nhập</button>
            </div>
        </div>
        <input type="hidden" name="ReturnUrl" value="@Context.Request.Query["ReturnUrl"]" />
    </form>
</div>