@model IAsyncEnumerable<WebTuyenDung.ViewModels.Api.LocaleViewModel>

@{
    Layout = "_AuthenticationLayout";
}

@section styles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <style>
        .d-none {
            display: none !important
        }
    </style>
}

@section js_scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/Assets/Shared/sign-up-screen.js"></script>
}

<div class="card-header">
    <h3 class="text-center font-weight-light my-4">Đăng ký</h3>
</div>
<div class="card-body">
    <form id="sign-in__form" action="/authentication/sign-up-employer" method="post" novalidate>
        <ul id="sign-in-error" class="error text-danger"></ul>
        <div class="form-floating mb-3 sign-up-first-batch">
            <input type="email" class="form-control" autocomplete="false" name="username" id="username" />
            <label for="username" class="control-label">Tên đăng nhập</label>
        </div>
        <div class="form-floating mb-3 sign-up-first-batch">
            <input type="password" class="form-control" autocomplete="false" name="password" id="password" />
            <label for="password" class="control-label">Mật khẩu</label>
        </div>
        <div class="form-floating mb-3 sign-up-first-batch">
            <input type="password" class="form-control" autocomplete="false" name="re-password" id="re-password" />
            <label for="re-password" class="control-label">Nhập lại mật khẩu</label>
        </div>
        <div class="form-floating mb-3 d-none">
            <input type="text" class="form-control" autocomplete="false" name="name" id="name" />
            <label for="name" class="control-label">Tên công ty</label>
        </div>
        <div class="form-floating mb-3 d-none">
            <input type="text" class="form-control" autocomplete="false" name="website" id="website" />
            <label for="website" class="control-label">Website công ty</label>
        </div>
        <div class="form-floating mb-3 d-none">
            <input type="tel" class="form-control" autocomplete="false" name="phoneNumber" id="phoneNumber" />
            <label for="phoneNumber" class="control-label">Số điện thoại liên hệ</label>
        </div>
        <div class="form-floating mb-3 d-none">
            <input type="text" class="form-control" autocomplete="false" name="size" id="size" />
            <label for="size" class="control-label">Quy mô công ty</label>
        </div>
        <div class="form-floating mb-3 d-none">
            <input type="text" class="form-control" autocomplete="false" name="address" id="address" />
            <label for="address" class="control-label">Địa chỉ công ty</label>
        </div>
        <div class="form-floating mb-3 d-none">
            <select class="form-control text-box single-line selectpicker"
                    data-live-search="true" data-val="true"
                    name="cityId">
                <option value="">-- Chọn Tỉnh/Thành phố --</option>
                @await foreach (var city in Model)
                {
                    <option value="@city.Id">@city.Name</option>
                }
            </select>
            <label for="cityId" class="control-label">Thành phố</label>
        </div>
        <div class="form-floating mb-3 d-none">
            <textarea class="form-control" rows="4" cols="50" style="resize: none" name="description" id="description"></textarea>
            <label for="description" class="control-label">Giới thiệu công ty</label>
        </div>
        <div class="d-flex justify-content-between mt-4 mb-0">
            <a class="small me-3" href="/authentication/sign-in?ReturnUrl=%2Femployer">Đã có tài khoản?</a>
            <div class="d-flex align-items-center">
                <a class="small me-3" href="/authentication/sign-up">Bạn là ứng viên?</a>
                <button type="button" class="btn btn-primary btn-next">Tiếp tục</button>
                <button type="submit" class="btn btn-primary btn-submit d-none">Đăng ký</button>
            </div>
        </div>
    </form>
</div>